<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ediattah.rezoschool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.ExamActivity" />
        <activity android:name=".ui.TweetDetailActivity" />
        <activity android:name=".ui.TimeslotActivity" />
        <activity android:name=".ui.NewVideoGroupActivity" />
        <activity
            android:name=".ui.ChooseSchoolActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.VoiceRecorderActivity" />
        <activity android:name=".ui.PDFViewerActivity" />
        <activity android:name=".ui.CourseDetailActivity" />
        <activity android:name=".ui.SchoolAddTeacherActivity" />
        <activity android:name=".ui.SchoolFinanceDetailActivity" />
        <activity android:name=".ui.NewPaymentActivity" />
        <activity android:name=".ui.NewLevelActivity" />
        <activity android:name=".ui.ImageViewerActivity" />
        <activity
            android:name=".ui.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.ParentViewExamActivity" />
        <activity android:name=".ui.ParentViewTeacherActivity" />
        <activity android:name=".ui.BulkSMSActivity" />
        <activity android:name=".ui.CourseCalendarActivity" />
        <activity android:name=".ui.NewStudentActivity" />
        <activity android:name=".ui.NewSyllabusActivity" />
        <activity android:name=".ui.CourseStudentActivity" />
        <activity android:name=".ui.NewLibraryActivity" />
        <activity android:name=".ui.LibraryDetailActivity" />
        <activity android:name=".ui.FinanceSettingActivity" />
        <activity android:name=".ui.NewSchoolCallbackActivity" />
        <activity android:name=".ui.StudentDetailActivity" />
        <activity android:name=".ui.TeacherDetailActivity" />
        <activity android:name=".ui.NewTeacherActivity" />
        <activity android:name=".ui.NewCourseActivity" />
        <activity android:name=".ui.NewClassActivity" />
        <activity android:name=".ui.NewRsTweetsActivity" />
        <activity android:name=".ui.ForgotPasswordActivity" />
        <activity android:name=".ui.OTPActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
    </application>

</manifest>